<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-theme-detection"
        version="1.3.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ThemeDetection</name>
    <author>Marius Backes</author>
    <description>
        Cordova plugin to detect the choosen theme (light or dark) on the device
    </description>
    <license>MIT</license>
    <repo>https://github.com/mariusbackes/cordova-plugin-theme-detection.git</repo>
    <issue>https://github.com/mariusbackes/cordova-plugin-theme-detection/issues</issue>
    <keywords>
        theme, detection, dark, light, mode
    </keywords>

    <js-module name="ThemeDetection" src="www/ThemeDetection.js">
        <clobbers target="cordova.plugins.ThemeDetection" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ThemeDetection">
                <param name="ios-package" value="ThemeDetection" />
            </feature>
        </config-file>
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <source-file src="src/ios/ThemeDetection.swift" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ThemeDetection">
                <param name="android-package" value="de.mariusbackes.cordova.plugin.ThemeDetection"/>
            </feature>
        </config-file>
        <source-file src="src/android/ThemeDetection.java" target-dir="src/de/mariusbackes/cordova/plugin" />
    </platform>

    <!-- browser -->    
    <platform name="browser">
        <config-file parent="/*" target="config.xml">
            <feature name="ThemeDetection">
                <param name="browser-package" value="ThemeDetection" />
            </feature>
        </config-file>
        <js-module src="src/browser/ThemeDetectionProxy.js" name="ThemeDetectionProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
