<?xml version='1.0' encoding='utf-8'?>
<widget id="app.netlob.magiscore" version="1.2.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="Magiscore">Magiscore - Magister statistiek</name>
    <description>
        Magiscore very nice 10/10.
    </description>
    <author email="sjoerdabolten@gmail.com" href="https://netlob.dev">
        Netlob
    </author>
    <content src="index.html" />
    <!-- <icon src="www/img/icons/icon-128x128.png" width="128" height="128" platform="android"/> -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <preference name="BackgroundColor" value="0xff0096db"/>
    <!-- <preference name="AutoHideSplashScreen" value="false" /> -->
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <!-- <allow-intent href="m6loapp://oauth2redirect/*" /> -->
        <preference name="LoadingDialog" value="Oeps,Er ging iets fout..." />
        <preference name="Orientation" value="portrait" />
        <icon src="res/drawable-ldpi/icon.png" density="ldpi" />
        <icon src="res/drawable-mdpi/icon.png" density="mdpi" />
        <icon src="res/drawable-hdpi/icon.png" density="hdpi" />
        <icon src="res/drawable-xhdpi/icon.png" density="xhdpi" />
        <icon src="res/drawable-xxhdpi/icon.png" density="xxhdpi" />
        <icon src="res/drawable-xxxhdpi/icon.png" density="xxxhdpi" />
        <splash src="res/drawable-ldpi/screen.png" density="port-ldpi"/>
        <splash src="res/drawable-mdpi/screen.png" density="port-mdpi"/>
        <splash src="res/drawable-hdpi/screen.png" density="port-hdpi"/>
        <splash src="res/drawable-xhdpi/screen.png" density="port-xhdpi"/>
        <splash src="res/drawable-xxhdpi/screen.png" density="port-xxhdpi"/>
        <splash src="res/drawable-xxxhdpi/screen.png" density="port-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="portrait" />
         <preference name="DisallowOverscroll" value="true" />
        <!-- <allow-intent href="m6loapp://oauth2redirect/*" /> -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <splash src="res/ios/Default-736h.png" width="1242" height="2208"/>
        <edit-config file="*-Info.plist" mode="merge" target="UIUserInterfaceStyle">
            <string>Light</string>
        </edit-config>
    </platform>
    <config-file parent="UIUserInterfaceStyle" platform="ios" target="*-Info.plist">
        <string>Light</string>
    </config-file>
</widget>
