<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.sj3rd.magiscore" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Magiscore</name>
    <description>
        Magiscore very nice 10/10.
    </description>
    <author>
        KassaDiMama
    </author>
    <author email="sjoerdabolten@gmail.com" href="https://netlob.app">
        Sj3rd
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="m6loapp:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
