<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.sj3rd.magiscore" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Magiscore</name>
    <description>
        
    </description>
    <author email="info@magiscore.nl" href="https://magiscore.nl">
        Sj3rd
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackgroundColor" value="0xff0096db"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#0096db" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <!-- <preference name="Orientation" value="portrait" /> -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <allow-intent href="tel:*" />
    <allow-intent href="sms:*" /> -->
    <allow-intent href="mailto:*" />
    <!-- <allow-intent href="geo:*" /> -->
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" /> -->
        <!-- <icon density="ldpi" src="platforms/android/app/src/main/res/icon/icon-ldpi.png" /> -->
        <icon density="mdpi" src="platforms/android/app/src/main/res/icon-mdpi.png" />
        <icon density="hdpi" src="platforms/android/app/src/main/res/icon-hdpi.png" />
        <icon density="xhdpi" src="platforms/android/app/src/main/res/icon-xhdpi.png" />
        <icon density="xxhdpi" src="platforms/android/app/src/main/res/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="platforms/android/app/src/main/res/icon-xxxhdpi.png" />
    </platform>
    <!-- <platform name="ios"/> -->
    <!-- <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform> -->
</widget>
