.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu-item-wrapper {
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: rgb(224, 226, 236);
}

.ui-widget-content {
    background-color: rgb(236, 236, 236);
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: rgb(224, 226, 236);
    width: 50%;
    margin-left: 10px; 
    border-radius: 10px
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.nav-link {
    cursor: pointer;
}

#content > nav > form > div > input {
    height: 38px !important;
}

.btn {
    color: white !important;
}

#overlay > .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    width: 3rem;
    height: 3rem;
}