/* html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
} */

/* * {
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    -webkit-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
} */

.progress {
  display: none !important;
}

#wrapper {
  overflow: auto !important;
  position: relative;
}

body {
  background-color: #0096db !important;
}

span::selection,
span::-moz-selection {
  background: #fff !important;
}

.ui-helper-hidden-accessible {
  display: none;
}

footer {
  background-color: transparent !important;
  /* background-color: #f8f9fc !important; */
}

.card,
.nav-item,
.nav-link {
  transition: 200ms !important;
}

.ptr--ptr {
  /* padding-top: 1rem !important; */
  box-shadow: none !important;
}

@media (max-width: 465px) {
  .newGrade,
  .getGrade {
    display: block !important;
    width: 100% !important;
  }

  .showCalculatedGrade {
    display: inline-block !important;
    width: 100% !important;
    text-align: center !important;
    margin-top: 33px !important;
    vertical-align: top !important;
  }
}

@media (max-width: 767px) {
  /* .card {
        width: 100vw !important;
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;
        left: 0px !important;
    }
    .chartjs-render-monitor {
        width: 100% !important;
        height: 500px !important;
    } */
  .container,
  .container-fluid {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }

  .sidebar .nav-item .nav-link {
    text-align: left !important;
    word-break: break-all !important;
  }

  .sidebar {
    width: 100vw !important;
  }

  .nav-link {
    width: auto !important;
  }

  /* .nav-item {
        font-size: 30vw !important;
    } */
  .sidebar .nav-item .nav-link span {
    font-size: 0.85rem;
    display: block;
  }
}

input {
  border: none !important;
}

.newGrade-wrapper {
  display: block;
}

.newGrade,
.getGrade {
  display: inline-block;
  width: 70%;
}

.showCalculatedGrade {
  display: inline-block;
  width: 29%;
  text-align: center;
  margin-top: 55px;
  vertical-align: top;
}

#subjectsNav > .nav-item > .nav-link {
  font-size: 1rem !important;
  word-break: break-all !important;
}

.text-mobile {
  font-size: 1rem !important;
}

.navbar-nav > .nav-item:hover,
#subjectsNav > .nav-item:hover {
  /* background-color: rgb(21, 84, 45) !important; */
  background-color: rgb(0, 120, 175);
  /* box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7); */

  /* filter: brightness(70%); */
}

.no-primary-hover:hover {
  background-color: rgb(248, 248, 248) !important;
}

.no-primary-hover {
  margin-right: 5px !important;
}

/* #subjectsNav > .nav-item:active {
    background-color: rgb(21, 84, 45) !important;
} */

.active {
  /* background-color: rgb(21, 84, 45) !important; */
  background-color: rgb(0, 120, 175) !important;
}

.sidebar-divider {
  /* display: none !important; */
  border-color: transparent !important;
}

.rounded-circle,
.rounded-circle:hover,
.topbar > button.bg-primary:hover,
.topbar #sidebarToggleTop:hover {
  background-color: transparent !important;
  color: #0096db !important;
}

#wrapper > .sidebar {
  transition: 200ms !important;
}

.topbar {
  padding-right: 0px !important;
}

.rounded-circle:active {
  background-color: rgba(0, 120, 175, 0.1) !important;
}

.rounded-circle > .fa {
  color: #0096db !important;
  font-size: 23px !important;
}

input {
  -webkit-user-select: text;
}

.table thead th {
  /* border-left: none !important;
    border-right: none !important;
    border-top: none !important; */
  border-bottom: none !important;
  border-top: none !important;
}

/* .ui-menu-item {
    border-bottom-style: solid;
    border-width: 0.1px;
    border-radius: 0px !important;
    border-color: rgb(224, 226, 236);
}

.ui-menu-item-wrapper {
    border-bottom-style: solid;
    border-width: 0.1px;
    border-radius: 0px !important;
    border-color: rgb(224, 226, 236);
}

.ui-widget-content {
    background-color: rgb(236, 236, 236);
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: rgb(224, 226, 236);
    width: 50%;
    margin-left: 10px; 
    border-radius: 10px
} */

.ui-autocomplete {
  background-color: white !important;
  border-radius: 0px !important;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  width: 400px !important;
  cursor: pointer;
  list-style-type: none !important;
  padding: 0px !important;
}

.ui-menu-item {
  padding: 15px 0px 15px 20px !important;
}

.ui-menu-item:hover {
  background-color: #f2f2f2 !important;
}

input.form-control {
  color: #3a3b45 !important;
  font-size: 15px !important;
  background-color: transparent !important;
}

input.form-control::placeholder {
  color: #cccccc !important;
  opacity: 1;
}

.sidebar-heading {
  margin-bottom: 8px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: wait;
}

.disabled {
  cursor: not-allowed !important;
}

.fa-download {
  color: #5a5c69;
}

.fa-download:hover {
  color: #3e3f46 !important;
}

.nav-link {
  cursor: pointer;
}

#content > nav > form > div > input {
  height: 38px !important;
}

#content-wrapper.gestures {
  touch-action: pan-y;
}

#content-wrapper > table.gestures {
  touch-action: none !important;
}

.btn {
  color: white !important;
  cursor: pointer;
}

.chart-card {
  padding-left: 0px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

#overlay > .spinner-border {
  position: fixed;
  top: 47vh;
  left: 47vw;
  color: white;
  width: 3rem;
  height: 3rem;

  /* position: fixed;
    top: 46vh;
    left: 45vw;
    color: white;
    width: 8vh;
    height: 8vh; */
}

.showCalculatedGrade {
  margin-bottom: 16;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

#snackbar {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: -200px;
}

.btn-demo:hover {
  text-decoration: underline !important;
}

.text-primary-blue {
  color: #4e73df !important;
}

#percentageGrades, #pieChart {
  position: relative;
  bottom: 25px !important;
}

.latest-grades-date {
  position: absolute;
  right: 1rem;
}

/* #content-wrapper {
  position: absolute !important;
  left: 0px !important;
  z-index: 100;
} */

/* #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} */

/* #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} */
/* #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} */


/*! CSS Used from: Embedded */
a.magister-login{
  background-color:#0096db !important;
  margin: 0px 1rem 0px 1rem !important;
  padding: 10px 10px !important;
  font-size: 24px !important;
  color: white !important;
  /* margin-left:125px;
  margin-bottom:20px; */
  border-radius: 4px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  display: block !important;
}
a.magister-login:hover{
  background-color:#20b9ff !important;
}
a.magister-login:before{
  font-family:"magistersymbolsnormal" !important;
  content:"Q" !important;
  font-size: 40px !important;
}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
a{background-color:transparent;}
a:active,a:hover{outline:0;}
}
/*! CSS Used fontfaces */
@font-face{
  font-family:"magistersymbolsnormal";
  font-style: normal;
  font-weight: normal;
  src:url(./magistersymbols-webfont.woff) format("woff");
}