body {
    background-color: #0096db !important;
}

.ui-helper-hidden-accessible {
    display: none;
}

footer {
    background-color: #f8f9fc !important;
}

@media (max-width: 767px) {
    /* .card {
        width: 100vw !important;
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;
        left: 0px !important;
    }
    .chartjs-render-monitor {
        width: 100% !important;
        height: 500px !important;
    } */
    .container, .container-fluid {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
    .sidebar .nav-item .nav-link {
        text-align: left !important;
        word-break: break-word !important;
    }
    .sidebar {
        width: 100vw !important;
    }
    .nav-link {
        width: auto !important;
    }
    /* .nav-item {
        font-size: 30vw !important;
    } */
}

input {
    border: none !important;
}

.newGrade-wrapper {
    display: block;
}

.newGrade, .getGrade {
    display: inline-block !important;
    width: 70% !important;
}

.showCalculatedGrade {
    display: inline-block !important;
    width: 29% !important;
    text-align: center !important;
    margin-top: 55px !important;
    vertical-align: top !important;
}

#subjectsNav > .nav-item > .nav-link {
    font-size: 1rem !important;
}

#subjectsNav > .nav-item:hover {
    /* background-color: rgb(21, 84, 45) !important; */
    background-color: rgb(0, 120, 175) !important;
    /* box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7); */

    /* filter: brightness(70%); */
}

/* #subjectsNav > .nav-item:active {
    background-color: rgb(21, 84, 45) !important;
} */

.active {
    /* background-color: rgb(21, 84, 45) !important; */
    background-color: rgb(0, 120, 175) !important;
}

.sidebar-divider {
    /* display: none !important; */
    border-color: transparent !important;
}

.rounded-circle, .rounded-circle:hover, .topbar > button.bg-primary:hover, .topbar #sidebarToggleTop:hover {
    background-color: transparent !important;
    color: #0096db !important;
}

.rounded-circle:active {
    background-color: rgba(0, 120, 175, 0.1) !important;
}

.rounded-circle > .fa {
    color: #0096db !important;
    font-size: 23px !important;
}

input { -webkit-user-select:text;}

.table thead th {
    /* border-left: none !important;
    border-right: none !important;
    border-top: none !important; */
    border-bottom: none !important;
    border-top: none !important;
}

/* .ui-menu-item {
    border-bottom-style: solid;
    border-width: 0.1px;
    border-radius: 0px !important;
    border-color: rgb(224, 226, 236);
}

.ui-menu-item-wrapper {
    border-bottom-style: solid;
    border-width: 0.1px;
    border-radius: 0px !important;
    border-color: rgb(224, 226, 236);
}

.ui-widget-content {
    background-color: rgb(236, 236, 236);
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: rgb(224, 226, 236);
    width: 50%;
    margin-left: 10px; 
    border-radius: 10px
} */

.ui-autocomplete {
    background-color: white !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    width: 400px !important;
    cursor: pointer;
    list-style-type: none !important;
    padding: 0px !important;
}

.ui-menu-item {
    padding: 15px 0px 15px 20px !important;
}

.ui-menu-item:hover {
    background-color: #f2f2f2!important;
}

input.form-control {
    color: #3a3b45 !important;
    font-size: 15px !important;
}

input.form-control::placeholder {
    color: #cccccc!important;
    opacity: 1;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: wait;
}

.nav-link {
    cursor: pointer;
}

#content > nav > form > div > input {
    height: 38px !important;
}

.btn {
    color: white !important;
}

#overlay > .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    width: 3rem;
    height: 3rem;
}

.showCalculatedGrade {
    margin-bottom: 16;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}